<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DSNDB" value="Current Language=us_english;Initial Catalog=ProjectBizagiVender;Data Source=(local)\SQLEXPRESS;User ID=sa;Password=CRYPT.1:l18jTPMWkVDQy3PuCcr1/DEldrcWAzB+;" />
    <add key="PROVIDERTYPE" value="MSSqlClient" />
    <add key="Project" value="ProjectBizagiVender" />
    <add key="AssemblyName" value="BizAgi.Generated.dll" />
    <add key="ButtonsAlignment" value="left" />
    <add key="SAPDllVersion" value="3.0.0.42|50436dca5c7f7d23" />
    <add key="AllowRemoteSynchronization" value="false" />
    <add key="ShowDetailedAuthenticationMessage" value="false" />
    <add key="EmailRecipient" value="" />
    <add key="SmtpServer" value="localhost" />
    <add key="AttribMaxLengthThreshold" value="30" />
    <add key="REMOTE_USER_FORCED" value="true" />
    <add key="EmailIntegrationAccount" value="" />
    <add key="APP_NAME" value="ProjectBizagiVender" />
    <add key="EmailIntegrationUsername" value="" />
    <add key="ShowCaseInformation" value="True" />
    <add key="RepDsndb" value="" />
    <add key="DefaultAssignationUserGroup" value="9a467598-8100-42a7-a43d-caf33c4890cb" />
    <add key="CurrencyCultureCurrencyDecimalSeparator" value="" />
    <add key="EnableEntityLog" value="True" />
    <add key="ParamEntityInstancesThreshold" value="2000" />
    <add key="CryptographyEncryptionAlgorithm" value="DES" />
    <add key="WsSecurityX509CertFindValue" value="" />
    <add key="WebDavUrl" value="" />
    <add key="WsSecurityPassword" value="" />
    <add key="WsSecurityX509CertFindType" value="" />
    <add key="GlobalCultureLongDatePattern" value="" />
    <add key="ShowEventsAsTasks" value="True" />
    <add key="EnableTrace" value="False" />
    <add key="CurrencyCultureCurrencyGroupSeparator" value="" />
    <add key="EnableEmail" value="False" />
    <add key="SendEmailCopyTo" value="" />
    <add key="CurrencyCultureCurrencySymbol" value="" />
    <add key="WsSecurityUserName" value="" />
    <add key="SmtpSenderAcc" value="admon@yourdomain.com" />
    <add key="DisableParentCaseLink" value="False" />
    <add key="EmailIntegrationEnableSSL" value="False" />
    <add key="WsLegacyEnabled" value="False" />
    <add key="GroupByCaseNumber" value="False" />
    <add key="GlobalCultureShortTimePattern" value="" />
    <add key="WebDavFolder" value="" />
    <add key="ShowEventAssignees" value="True" />
    <add key="WsSecurityEnabled" value="False" />
    <add key="BizagiSchedulerInterval" value="30" />
    <add key="WebServicesTimeOut" value="-1" />
    <add key="DisableAbortNotifications" value="False" />
    <add key="EntityTesting" value="False" />
    <add key="WsSecurityX509CertStoreLocation" value="" />
    <add key="EmailIntegrationConnectionType" value="" />
    <add key="EmailIntegrationEnabled" value="False" />
    <add key="EnableMMFactLog" value="True" />
    <add key="UploadMaxFileSize" value="1048576" />
    <add key="CurrencyCultureCurrencyDecimalDigits" value="" />
    <add key="ContentDispositionMethod" value="attachment" />
    <add key="HideTaskTypesInStateLog" value="False" />
    <add key="WsSecurityX509CertValidationMode" value="" />
    <add key="ShowExportToExcelLink" value="False" />
    <add key="UserPreferencesForm" value="" />
    <add key="EmailIntegrationHost" value="" />
    <add key="UploadPath" value="C:\Bizagi\Projects\ProjectBizagiVender\Docs" />
    <add key="EntityTableCacheTimeout" value="600" />
    <add key="ContentTypes" value="XLS,application/vnd.ms-excel;XLSX,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;DOC,application/msword;DOCX,application/vnd.openxmlformats-officedocument.wordprocessingml.document;PPT,application/vnd.ms-powerpoint;PPTX,application/vnd.openxmlformats-officedocument.presentationml.presentation;JPG,image/jpeg;PNG,image/png;GIF,image/gif;PDF,application/pdf;ZIP,application/x-zip-compressed;RTF,application/msword;" />
    <add key="SkipRecipients" value="" />
    <add key="SERVER_NAME" value="LIP06-04" />
    <add key="ServerTimeZone" value="" />
    <add key="InterfaceThresholdTime" value="30" />
    <add key="RepProviderType" value="" />
    <add key="EmailIntegrationPort" value="0" />
    <add key="CacheExpirationCheckInterval" value="60" />
    <add key="SendEmailBccTo" value="" />
    <add key="DataStoreEnabled" value="False" />
    <add key="CacheAvailableMemoryPercentageLimit" value="20" />
    <add key="REMOTE_USER" value="domain\admon" />
    <add key="GlobalCultureShortDatePattern" value="" />
    <add key="WsSecurityX509CertStoreName" value="" />
    <add key="bizagi.override.languageActivation" value="1" />
    <add key="EmailIntegrationPassword" value="" />
    <add key="Logging" value="False" />
    <add key="CryptographyKeyUrl" value="{&quot;UrlFileName&quot;:&quot;&quot;,&quot;ConfigureAuthentication&quot;:false,&quot;UserName&quot;:null,&quot;Password&quot;:null,&quot;Domain&quot;:null}" />
    <add key="GlobalCulture" value="" />
    <add key="ByPassLogin" value="True" />
    <add key="SoaBusinessKeyEnforcement" value="True" />
    <add key="CryptographyHashAlgorithm" value="SHA1" />
  </appSettings>
</configuration>