<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="bizAgiComponentLibrary" type="BizAgi.ComponentLibrary.CComponentLibrarySectionHandler,BizAgi.ComponentLibrary" />
  </configSections>
  <!-- *** Component library -->
  <bizAgiComponentLibrary>
    <component namespaces="BizAgi.Authentication" assemblyName="BizAgi.Authentication.dll" />
  </bizAgiComponentLibrary>
  <appSettings>
    <!-- *** Bizagi DB: Check user, password, DB name and server  *** -->
    <add key="DSNDB" value="Current Language=us_english;Initial Catalog=ProjectBizagiVender;Data Source=(local)\SQLEXPRESS;User ID=sa;Password=CRYPT.1:l18jTPMWkVDQy3PuCcr1/DEldrcWAzB+;" />
    <add key="PROVIDERTYPE" value="MSSqlClient" />
    <add key="Project" value="ProjectBizagiVender" />
    <!--add key="REMOTE_CACHE_SYNCHRONIZATION_TYPE" value="DB"/-->
    <!--add key="REMOTE_CACHE_SYNCHRONIZATION_TYPE" value="UDP"/-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>